@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap");

html {
  background-color: #fff;
  overflow-x: hidden;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

::selection {
  background-color: #72393969 !important;
}

* {
  margin: 0px;
  padding: 0px 0px;
  box-sizing: border-box;
}

/* Announcement Bar CSS */

.announcement-bar{
  width: 100%;
  height: 2.5em;
  background-color: #606060;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement-text-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement-text-container span{
  color: white;
  font-family: Tiemann, sans-serif;
  letter-spacing: 2px;
  font-size: 1em;
  text-decoration-line: none;
}

/* Navbar CSS */

.header-two{
  position: relative;
  width: 100%;
  z-index: 100;
}

header {
  background-color: #ebebeb;
  user-select: none;
}

.navigation-bar{
  background-image: url('Website/Nav\ img.jpg') !important;
}

.logotext {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  text-align: center;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
}

.navbar.one {
  justify-content: space-between !important;
  padding: 25px 35px;
  padding-bottom: 10px;
  height: 120px;
}

.navbar.one a {
  font-size: 1.4em;
}

.navbar a {
  color: black;
  font-family: "montserrat", sans-serif;
  letter-spacing: 2px;
  font-size: 0.8em;
  text-decoration-line: none;
  text-transform: uppercase;
}

.dropdown-menu-name:hover .dropdown-menu-header.drop{
  opacity: 1;
}

.dropdown-menu-header.drop {
  position: absolute;
  opacity: 0;
  list-style-type: none;
  text-align: center;
  width: 250px;
  background-color: #ebebeb;
  padding: 20px 0px;
  margin-left: -60px;
  transition: all 0.5s !important;

}

.header-menu__dropdown-nav li{
  margin: 10px 10px;
}

.contactbtn {
  list-style-type: none;
  flex-direction: row;
  width: 140px;
  margin-bottom: 10px;
  margin-right: 120px;
  border: 1px solid;
}

.navbar-item.icons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 115px;
  margin-bottom: 10px;
  margin-left: 140px;
  transition: all 0.5s;
}

.navbar-item.icon{
  margin-right: 30px;
}

.navbar-a-item.icon::after {
  opacity: 0;
  height: 0;
}

.navbar-a-item.icon {
  transition: all 0.5s;
}

.contactbtn a {
  font-size: 0.8em !important;
  padding: 10px 10px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactbtn {
  transition: all 0.5s;
}

.navbar-item.bag:focus::after {
  opacity: 0;
}

.logoimage:focus::after {
  opacity: 0;
}

.navbar-item.icon i:hover {
  transform: scale(1.2);
}

.navbar-item.icon i {
  transition: all 0.5s;
}

.contactbtn:hover {
  transform: scale(1.07);
}

.navbar.two {
  padding: 20px 15px;
  padding-top: 3px;
  justify-content: center !important;
}

.navbar.two a {
  padding: 0px;
  padding-bottom: 5px;
  position: relative;
}

.navbar.two li {
  padding: 15px;
  padding-bottom: 0px;
}

.navbar-a-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15em;
  padding-top: 0px;
  background-color: black;
  opacity: 0;
  transition: opacity 0.7s, transform 0.7s;
  transition-property: center, 0.5s;
}

.header-menu__dropdown-nav li{
  list-style-type: none !important;
}

.navbar-a-item:hover::after,
.navbar-a-item:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.navbar-a-item::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.navbar-a-item:hover::after,
.navbar-a-item:focus::after {
  transform: scale(1);
}

.dropdown-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.08em;
  padding-top: 0px;
  background-color: black;
  opacity: 0;
  transition: opacity 0.7s, transform 0.7s;
  transition-property: center, 0.5s;
  list-style-type: none;
}

.dropdown-item:hover::after,
.dropdown-item:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.dropdown-item::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.dropdown-item:hover::after,
.dropdown-item:focus::after {
  transform: scale(1);
}

@media screen and (max-width: 1090px) {
  .header-menu__dropdown-nav.contactbtn {
    margin-left: 15px;
  }
  .navbar-item.bag {
    margin-right: 15px;
  }
}

/* Nav Info */

@font-face {
  font-family: Tiemann;
  src: url(Tiemann\ Roman.ttf);
}

.bannner-container {
  overflow: hidden;
  height: 80vh;
  background-color: #f5f5f5;
  width: 100%;
}

.banner-caption {
  top: 48% !important;
  position: absolute;
  left: 7%;
  color: white !important;
}

.banner {
  height: 80vh;
  width: 100%;
  float: left;
  min-height: 350px;
  background: no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  transition: all 0.5s;
  background-color: #f5f5f5;
}

.banner-title {
  font-family: Tiemann, serif;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ffffffea;
  font-size: 2.5em;
  text-shadow: 0 1px 3px rgb(0 0 0 / 15%);
  max-width: 800px;
}

.banner-text {
  font-family: "montserrat", serif;
  color: #ffffffea;
  letter-spacing: 2px;
  font-size: 1em;
  text-shadow: 0 1px 3px rgb(0 0 0 / 15%);
  max-width: 500px;
  margin-top: 0.8em;
}

.banner-text.two {
  color: #b17e7e;
  font-size: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
}

.banner-button-container {
  margin-top: 3em;
  font-family: "montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
}

.banner-button {
  padding: 1em 1.8em;
  color: #ffffffea;
  background-color: #723939;
  text-decoration-line: none;
  box-shadow: rgba(50, 50, 93, 0.15) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
  transition: all 0.3s;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.banner-button:hover {
  background-color: #656568;
}



/* Title */

.collections-text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 4em;
}

.collections-text-container h6 {
  font-family: "montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  color: #723939;
  text-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}
.collections-text-container h1 {
  font-family: Tiemann, serif;
  font-weight: 100;
  letter-spacing: 3px;
  color: black;
  font-size: 2.7em;
  text-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  text-transform: uppercase;
}

/* About Us */
.about-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: -2em;
  margin-bottom: 3em;
}

.about-text{
  max-width: 600px;
  margin-left: 3em;
}

.about-text h1{
  font-family: "Tiemann", serif;
  font-weight: 100;
  letter-spacing: 3px;
  color: black;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.about-text p{
  font-family: "montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  color: black;
  text-transform: none;
  line-height: 25px;
}

.about-image{
  margin-right: 3em;
}

.about-image img{
  height: 35em;
}

/* Collections */

.colle-p{
  color: #723939 !important;
}

.colle-background{
  background-color: #dedede;
  width: 100%;
}

.colle-background.two{
  background-color: #f5f5f5;
}

.colle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1em;
  padding-bottom: 4em;
}

.colle-item.portrait {
  width: 420px;
  height: 632px;
}

.colle-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background: no-repeat center scroll;
  background-size: cover;
  margin-right: 2em;
  margin: 1em;
}

/* .colle-item.landscape{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 632px !important;
  height: 300px;
  background: no-repeat center scroll;
  background-size: cover;
  margin-right: 2em;
  margin: 1em;
} */

.colle-container-inner {
  display: flex;
  flex-direction: row;
}

.colle-button-container {
  font-family: "montserrat", sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
}

.colle-button {
  border-radius: 0px;
  background-color: #723939e3 !important;
  padding: 0.8em 1.8em;
  color: white;
  background-color: transparent;
  text-decoration-line: none;
  transition: all 0.3s;
  text-transform: uppercase;
}

.colle-button:hover {
  background-color: #656568 !important;
}

.button-container.two {
  margin-top: 5em;
}

.photos-one-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0em;
}

.photos-two-container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  margin: 5em;
}

.gallery{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.gallery-container{
  display: block;
  margin: 0em 3em;
}

.image-container{
  width: 500px;
}

.image-container img{
  width: 500px;
  height: auto;
}

.text-container{
  max-width: 450px;
}

.text-container h1{
  font-family: Tiemann; 
  letter-spacing: 3px;
}

.text-container p{
  font-family: "montserrat", sans-serif;
}

footer{
  margin-top: 5em;
  width: 100%;
  background-color: #ddd7cc;
}

.footer-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
}

.footer-image-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-follow{
  position: absolute;
  cursor: pointer;
  user-select: none;
}

.footer-follow-box{
  padding: 1em 3em;
  background-color: #ddd7cc;
}

.footer-follow-box a{
  color: #000;
  font-family: "Tiemann", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-image{
  width: 225px;
  margin: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image img{
  height: 225px;
}

.footer-text-copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-text-copyright p{
  margin-bottom: 1em;
  font-family: Tiemann, sans-serif;
  color: #000 !important;
  letter-spacing: 3px;
  font-size: 0.9em;
}

.footer-text-copyright a{
  color: #000;
}

.footer-menu{
  text-align: center;
}

.footer-menu h3{
  font-family: Tiemann;
  letter-spacing: 3px;
  font-size: 1.7em;
}

.footer-menu li{
  list-style-type: none;
  margin: 1.5em 0em;
}

.footer-menu a{
  color: #000;
  font-family: 'montserrat', sans-serif;
  text-decoration: none;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.footer-text-container h1{
  font-family: Tiemann;
  letter-spacing: 3px;
  margin-bottom: 0.5em;
}

.social-footer i{
  font-size: 1.5em;
  margin: 0.5em 0.5em 0.5em 0em;
}

.line-1{
  margin-bottom: 0.7em !important;
}

.line-1 hr{
  height: 1px !important;
  border: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}